Django==4.2
django-ckeditor==6.7.0
django-cleanup==6.0.0
django-crispy-forms==2.1
crispy-bootstrap5==0.7
django-phonenumber-field[phonenumberslite]==7.2.0
django-bootstrap-datepicker-plus==5.0.4
django-modeltranslation==0.18.11
