{% extends "admin/layout.html" %}

{% block content %}
{% if reservations %}
<table class="table table-bordered border-light-subtle">
    <thead>
        <tr>
            <th scope="col">İsim</th>
            <th scope="col">Tarih</th>
            <th scope="col">Nereden-Nereye</th>
            <th scope="col">Araba</th>
            <th scope="col">Saat</th>
            <th scope="col">Detay</th>
        </tr>
    </thead>
    <tbody>
{% for reservation in reservations %}
    <tr>
        <td>{{reservation.name_surname}}</td>
        <td>{{reservation.date}}</td>
        <td>{{reservation.IdCar.fromwhere}} - {{reservation.IdCar.towhere}}</td>
        <td>{{reservation.IdCar.name}}</td>
        <td>{{reservation.planetime}}</td>
        <td>&emsp;
            <a href="{% url 'admin_reservation_detail' reservation.id %}" >
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"/>
          </svg></a>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-secondary" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 18 18">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg> Rezervasyon bulunmuyor.
</div>
{% endif %}
{% endblock  %}