{% extends "admin/layout.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="d-flex justify-content-end ">  
    <button class="btn btn-secondary" style="background: #D2B48C;" type="button"  data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Araba Eklemek İçin Tıklayınız
    </button>
</div>
<div class="collapse" id="collapseExample">
    <br>
    <div class="border border-tertiary p-3 mb-2 border-opacity-25 rounded-2" style="background: #fcfcfc;" >
        <p class="text-danger"><b>Tüm alanları doldurunuz!</b></p>
    <form  method="POST" enctype="multipart/form-data" >
        {{form.media}}
        {% csrf_token %}
        {{form|crispy}}
        <div class="d-flex justify-content-end ">
            <button type="submit" style="background-color:#D2B48C;border-color:#D2B48C;color:white;width:250px;height:40px;font-size:14px;border-radius:4px;">Ekle</button>
        </div>
    </form>
    </div>
</div>
<br>
{% if cars %}
<h5 style="color:#a9a9a9;">Tüm Arabalar</h5>
<hr color="#764409" size="5"><br>
<table class="table table-bordered border-light-subtle">
    <thead>
        <tr>
            <th scope="col">Resim</th>
            <th scope="col">İsim</th>
            <th scope="col">Nereden-Nereye</th>
            <th scope="col">Kapasite</th>
            <th scope="col">Fiyat</th>
            <th scope="col">Sil</th>
        </tr>
    </thead>
    <tbody>
{% for car in cars %}
    <tr >
        <td><img class="img-fluid rounded" width="75px;" height="70px;" src="{{car.car_image.url}}" alt="{{car.name}}"></td>
        <td>{{car.name}}</td>
        <td>{{car.fromwhere.name}}
            <p>{{car.towhere.name}}</p>
        </td>
        <td>{{car.capasity}}</td>
        <td>{{car.price}}</td>
        <td><a href="{% url 'admin_car_delete' car.id %}" style="color:#f00000">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
            </svg></a></td>
    </tr>
{% endfor %}
    </tbody>
</table>

{% else %}
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <b><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 20 20">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg>&ensp;</b>
    <div>
       Herhangi bir araba bulunmamaktadır!
    </div>
</div>
{% endif %}

{% endblock %}