{% extends "admin/layout.html" %}

{% block content %}
{% if cars %}
<h5 style="color:#a9a9a9;">Araba Fiyatları</h5>
<hr color="#764409" size="5"><br>
<table class="table table-bordered border-light-subtle">
    <thead>
        <tr>
            <th scope="col">Resim</th>
            <th scope="col">İsim</th>
            <th scope="col">Nereden-Nereye</th>
            <th scope="col">Kapasite</th>
            <th scope="col">Fiyat</th>
            <th scope="col">Güncelle</th>
        </tr>
    </thead>
    <tbody>
{% for car in cars %}
    <tr >
        <td>
            <img class="img-fluid rounded" width="55px;" height="50px;" src="{{car.car_image.url}}" alt="{{car.name}}"></td>
        <td>{{car.name}}</td>
        <td>{{car.fromwhere.name}}
            <p>{{car.towhere.name}}</p>
        </td>
        <td>{{car.capasity}}</td>
        <form method="POST">
        <td style="width: 200px;">
            
                {% csrf_token %}
                <input class="form-control" type="number" id="{{car.price}}" name="{{car.name}}" step="10"  value={{car.price}} />
        </td>
        <td>&emsp;
            <button type="submit" style="background-color:#e8e8e8; color:#036312;border-radius:4px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-recycle" viewBox="0 0 16 16">
                <path d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242-2.532-4.431zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24l2.552-4.467zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.498.498 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244l-1.716-3.004z"/>
              </svg></button>
        </td>
        </form>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <b><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 20 20">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg>&ensp;</b>
    <div>
       Herhangi bir araba bulunmamaktadır!
    </div>
</div>
{% endif %}
{% endblock  %}