{% load i18n %}
<nav class="navbar bg-warning-subtle fixed-top ">
  <div class="container">
    <a class="navbar-brand" style = "color:#764409;" href="{% url 'index' %}" >XTRANSFER</a>&ensp;
    <a class="nav-link" ><svg xmlns="http://www.w3.org/2000/svg"  width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
      <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
    </svg><b>+90 544 444 5555</b></a>
   
    <ul class="navbar-nav ms-auto mb-6 mb-lg-0"> 
      <li class="nav-item">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-translate" style="color:#764409;" viewBox="0 0 18 18">
          <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"/>
          <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"/>
        </svg>
        <a style="color:#764409;" href="{% url 'set-language' 'tr' %}">TR /</a>
        <a style="color:#764409;" href="{% url 'set-language' 'en' %}">EN /</a>
        <a style="color:#764409;" href="{% url 'set-language' 'de' %}">DE /</a>
        <a style="color:#764409;" href="{% url 'set-language' 'ru' %}">RU</a>
    </ul>&emsp;
    <button class="navbar-toggler" style = "color:#764409;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="background-color:#fff9c4; ">
      <div class="offcanvas-header">
        <a style = "color:#764409;" href="{% url 'index' %}"><h5>XTRANSFER</h5></a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <div class="border border-dark p-2 mb-2 border-opacity-25 rounded-2">
            <li class="nav-item" >
              <a class="nav-link active" style="color:#764409;" aria-current="page" href="{% url 'about' %}">&ensp;<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 20 20">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
              </svg>{% trans 'Biz Kimiz?' %}</a>
            </li>
          </div>
          <div class="border border-dark p-2 mb-2 border-opacity-25 rounded-2">
            <li class="nav-item" >
              <a class="nav-link active" style="color:#764409;" aria-current="page" href="{% url 'services' %}">&ensp;<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 20 20">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
              </svg>{% trans 'Hizmetlerimiz' %}</a>
            </li>
          </div>
          <div class="border border-dark p-2 mb-2 border-opacity-25 rounded-2">
            <li class="nav-item">
              <a class="nav-link active" style="color:#764409;" aria-current="page" href="{% url 'blog' %}">&ensp;<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 20 20">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
              </svg>{% trans 'Blog' %}</a>
            </li>
          </div>

          <div class="border border-dark p-2 mb-2 border-opacity-25 rounded-2">
            <li class="nav-item">
              <a class="nav-link active" style="color:#764409;" aria-current="page" href="{% url 'gallery' %}">&ensp;<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 20 20">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
              </svg>{% trans 'Galeri' %}</a>
            </li>
          </div>

          <div class="border border-dark p-2 mb-2 border-opacity-25 rounded-2">
            <li class="nav-item">
              <a class="nav-link active" style="color:#764409;" aria-current="page" href="{% url 'reservation_query' %}" >&ensp;<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 20 20">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
              </svg>{% trans 'Rezervasyon Sorgulama' %}</a>
            </li>
          </div>

        </ul>
      </div>
    </div>
  </div>
</nav>
