{% extends "layout.html" %}

{% block r_query %}
{% load i18n %}
<style>
    .carousel-inner{
        clip-path: ellipse(100% 100% at 50% 0%);
    }
    .carousel-inner img {
        max-width: 100%;
        height: auto; 
    }
    @media (max-width: 640px) {
        .carousel-inner {
            margin-top: 43px;
        }
    }
</style>

<div class="carousel-inner">
    <div class="carousel-item active" >
        <img src="../media/img_1_sorgu.jpg" class="img-fluid">
        <div class="carousel-caption d-flex flex-column justify-content-center h-100 text-start"> 
            <h5 style="font-size: 20px; color: #C19A6B;">
                <span class="border border-secondary-subtle border-3 p-3 rounded" style="display: inline-block; backdrop-filter: blur(5px); background-color: rgba(255, 255, 255, 0.1); padding: 8px; border-radius: 8px;">
                    {% trans "HİZMETLERİMİZ" %}
                </span>
            </h5>
        </div>
    </div>
</div>

{% endblock%}

{% block body %}
{% load i18n %}
{{services|safe}}
{% endblock %}